#container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#nav {
    float: left;
    background-color: lightgray;
    color: black;
    width: auto;
    height: 600px;
    padding: 10px;
}

.my-input {
    width: 50px;
}

#content {
    float: left;
    padding: 10px;
    width: 600px;
}

#footer {
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
